.btn-secondary {
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
    font-family: "Roboto", sans-serif;
    transition: 0.25s linear;
    transition-property: background, color;
    outline: none;
    background-color: #df0a0a;
    color: #eefaf2;
    border: 1px solid #6d947b;
}