.default-checkbox {
    display: block;
    margin-top: 35px;
  }
  .default-checkbox__label {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
  }
  .default-checkbox__custom {
    align-items: center;
    border: 2px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    display: -ms-flexbox;
    flex-shrink: 0;
    height: 22px;
    justify-content: center;
    margin-right: 9px;
    position: relative;
    transition: 0.25s linear;
    width: 22px;
    outline: none;
  }
  
  /* .default-checkbox__custom:hover{
    border: 2px solid #3f423fde;
  } */
  .default-checkbox input:checked ~ .default-checkbox__custom {
    border: 2px solid #dbdbdb;
  }
  
  .default-checkbox__custom svg {
    fill: #fff;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .default-checkbox__text {
    text-align: left;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    user-select: none;
  }
  .default-checkbox input {
    display: none;
  }
  .default-checkbox input:checked ~ .default-checkbox__custom svg {
    transform: scale(1);
  }