@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/Roboto-Bold.woff2) format("woff2"),
    url(../fonts/Roboto-Bold.woff) format("woff"),
    url(../fonts/Roboto-Bold.ttf) format("truetype"),
    url(../fonts/Roboto-Bold.eot),
    url(../fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.woff) format("woff"),
    url(../fonts/Roboto-Regular.ttf) format("truetype"),
    url(../fonts/Roboto-Regular.eot),
    url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
}
body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.btn {
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: 50px;
  font-family: "Roboto", sans-serif;
  transition: 0.25s linear;
  transition-property: background, color;
  border-radius: 50px;
  outline: none;
  background-color: #679878;
  color: #eefaf2;
  border: 1px solid #6d947b;
}
.btn:hover {
  background-color: #588a67;
  color: #eefaf2;
}
.btn__inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.btn--light {
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  color: #6d947b;
  border: 1px solid #6d947b;
}
.btn--superlight {
  background-color: transparent;
  border: 1px solid #c6ddce;
  color: #c6ddce;
  pointer-events: none;
}

.btn.disabled {
  border: 1px solid #c6ddce;
  color: #f2fcf5;
  /* cursor: not-allowed; */
  pointer-events: none;
  background-color: #bfdfca;
}
.btn--light.disabled {
  pointer-events: none;
}
.btn:active {
  background-color: #487b5a;
  color: #eef9f2;
}
button {
  font-family: inherit;
  font-size: inherit;
}

/* ============Чекбоксы и радиокнопки============= */
.custom-checkbox {
  margin-right: 35px;
}
.custom-checkbox i {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border: 2px solid #dcd7d4;
  color: transparent;
  border-radius: 5px;
}
.custom-checkbox input {
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ i {
  color: #fff;
  background: #11cc0ade;
  border: 2px solid transparent;
}

.default-checkbox {
  display: block;
  margin-top: 35px;
}
.default-checkbox__label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
}
.default-checkbox__custom {
  align-items: center;
  background-color: #f3f3f5;
  border: 2px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  display: -ms-flexbox;
  flex-shrink: 0;
  height: 22px;
  justify-content: center;
  margin-right: 9px;
  position: relative;
  transition: 0.25s linear;
  width: 22px;
  outline: none;
}
.default-checkbox__custom svg {
  fill: #fff;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.default-checkbox__text {
  text-align: left;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  user-select: none;
}
.default-checkbox input {
  display: none;
}
.default-checkbox input:checked ~ .default-checkbox__custom svg {
  transform: scale(1);
}

/* радиобатоны */

.set-home {
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}
.set-home__item {
  width: 25%;
  padding-right: 10px;
}
h4 {
  margin-bottom: 20px;
}
.default-radio {
  display: block;
}
.default-radio__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  outline: none;
}
.default-radio input {
  display: none;
}
.set-home .default-radio {
  margin-bottom: 8px;
}
.default-radio__custom {
  position: relative;
  border: 2px solid #dbdbdb;
  background-color: #f3f3f5;
  border-radius: 50%;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: 0.25s linear;
  transition-property: border-color, border-width;
  outline: none;
}
.default-radio__custom:after {
  content: "";
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #29d;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  border: 5px solid #29d;
}
.default-radio__text {
  text-align: left;
  user-select: none;
}
.default-radio input:checked ~ .default-radio__custom:after {
  transform: scale(1);
}
.default-radio input:checked ~ .default-radio__custom {
  border: 3px solid #766f6e;
}
.default-radio input:checked ~ .default-radio__text::after {
  content: "\00AB";
  padding-left: 5px;
  color: #ea4b3c;
}

/* ========selectmenu========= */

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 25%;
  margin-top: 35px;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0;
  border-style: solid;
  border-color: #394a6d;
}
.custom-select-menu {
  margin-top: 35px;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #394a6d;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

.arrow {
  position: relative;
  display: flex;
  width: 18px;
  height: 18px;
  align-items: center;
  
  transition: ease-in 0.25s;
  /* border-top: 2px solid #305c91;
  border-right: 2px solid #305c91; */
  /* transform: rotate(-45deg); */
  fill: red;
}
.arrow.open {
  transform: scaleY(-1);
}

/* #Layer_1 {
  fill: red;
} */
/* .open .arrow::before {
  left: -5px;
  transform: scaleX(-1);
} */
