body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(/fonts/Roboto-Bold.ttf) format("ttf"),
    url(/fonts/Roboto-Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(/fonts/Roboto-Regular.ttf) format("ttf"),
    url(/fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
}
body {
  background-color: yellow;
  font-family: "Roboto", sans-serif;
}
