
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/Roboto-Bold.woff2) format('woff2'),
    url(../fonts/Roboto-Bold.woff) format('woff'), url(../fonts/Roboto-Bold.ttf) format('truetype'), url(../fonts/Roboto-Bold.eot), url(../fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype');
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.ttf) format('truetype'), url(../fonts/Roboto-Regular.eot), url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype') ;
  font-weight: 400;
}
body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}