@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/Roboto-Bold.woff2) format("woff2"),
    url(../fonts/Roboto-Bold.woff) format("woff"),
    url(../fonts/Roboto-Bold.ttf) format("truetype"),
    url(../fonts/Roboto-Bold.eot),
    url(../fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.woff) format("woff"),
    url(../fonts/Roboto-Regular.ttf) format("truetype"),
    url(../fonts/Roboto-Regular.eot),
    url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
}
body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.btn {
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: 50px;
  font-family: "Roboto", sans-serif;
  transition: 0.25s linear;
  transition-property: background, color;
  border-radius: 50px;
  outline: none;
  background-color: #679878;
  color: #eefaf2;
  border: 1px solid #6d947b;
}
.btn:hover {
  background-color: #588a67;
  color: #eefaf2;
}
.btn__inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.btn--light {
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  color: #6d947b;
  border: 1px solid #6d947b;
}
.btn--superlight {
  background-color: transparent;
  border: 1px solid #c6ddce;
  color: #c6ddce;
  pointer-events: none;
}

.btn.disabled {
  border: 1px solid #c6ddce;
  color: #f2fcf5;
  /* cursor: not-allowed; */
  pointer-events: none;
  background-color: #bfdfca;
}
.btn--light.disabled {
  pointer-events: none;
}
.btn:active {
  background-color: #487b5a;
  color: #eef9f2;
}
button {
  font-family: inherit;
  font-size: inherit;
}

/* ============Чекбоксы и радиокнопки============= */
.custom-checkbox {
  margin-right: 35px;
}
.custom-checkbox i {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border: 2px solid #dcd7d4;
  color: transparent;
  border-radius: 5px;
}
.custom-checkbox input {
  position: absolute;
  /* visibility: hidden; */
  display: none;
}
.custom-checkbox input:checked ~ i {
  color: #fff;
  background: #11cc0ade;
  border: 2px solid transparent;
}



.default-checkbox {
  display: block;
  margin-top: 35px;
}
.default-checkbox__label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  /* display: -ms-inline-flexbox; */
  /* ms-flex-align: start; */
}
.default-checkbox__custom {
  align-items: center;
  background-color: #f3f3f5;
  border: 2px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  display: -ms-flexbox;
  flex-shrink: 0;
  height: 22px;
  justify-content: center;
  margin-right: 9px;
  position: relative;
  transition: 0.25s linear;
  width: 22px;
  outline: none;
}
.default-checkbox__custom svg {
  fill: #fff;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.default-checkbox__text {
  text-align: left;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.default-checkbox input {
  display: none;
}
.default-checkbox input:checked ~ .default-checkbox__custom svg {
  transform: scale(1);
}

/* радиобатоны */

.config-i-home-opt {
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}
.config-i-home-opt__item {
  width: 25%;
  padding-right: 10px;
}
h4 {
  margin-bottom: 20px;
}
.default-radio {
  display: block;
}
.default-radio__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  outline: none;
}
.default-radio input {
  display: none;
}
.config-i-home-opt .default-radio {
  margin-bottom: 8px;
}
.default-radio__custom {
  position: relative;
  border: 2px solid #766f6e;
  background-color: #f3f3f5;
  border-radius: 50%;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-top: 2px;
  transition: .25s linear;
  transition-property: border-color,border-width;
}
.default-radio__custom:after {
  content: "";
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #FF4200;
  border-radius: 50%;
  transform: scale(0);
  transition: transform .3s cubic-bezier(.18,.89,.32,1.28);
}
.default-radio__text {
  text-align: left;
}
.default-radio input:checked~.default-radio__custom:after {
  transform: scale(1);
}