@font-face {
    font-family: "Berlingske Serif - D Bd";
    src: url(../fonts/BERLINGSKESERIF-DBD.TTF);
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Bold.otf);
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova.otf);
}

body, *, *:before, *:after{ box-sizing: border-box; }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    padding: 5px;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}
span {
    color: #f84d4d;
}

main {
    width: 100%;
    overflow: hidden;
}

/* ======HERO====== */

/* header */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 35px 125px 0;
    
}

.header__top {max-width: 1180px;}

.header__menu {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.13);
    padding-bottom: 8px;
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 19px;
    max-width: 1180px;
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 222;
}

.logo__link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}

.logo__text {
    font-size: 13px;
    text-transform: none;
    line-height: 34px;
    color: #7c7c7c;
    
}

.header__nav {
    display: flex;
    text-transform: uppercase;
    align-items: center; 
}

.animate {background: rgba(0, 0, 0, .7);}
.header__nav--item {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 31px;
    position: relative;
}

.header__nav--item:last-child {
    margin-right: 0;
}

.header__nav--item::before {
content: "";
bottom: 0;
right: 0;
position: absolute;
width: 0;
height: 2px;
background: #fff;
transition: .25s;
transform: scale(0);
}

.header__nav--item:hover::before {
    width: 100%;
    left: 0;
    transform: scale(1);
}

.phone__number::before {
content: url("../img/Shape_1.svg");
padding-right: 11px;
}
.fast_connection {text-align: end;}

.dotted {
    border-bottom: 1px dotted #f84d4d;
    line-height: 34px;
}



/*=== //header ===*/

/* ===HERO=== */

.hero {
    position: relative;
    background: #000;
    background-image: url("../img/whiskey.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero__title {
    display: block;
    color: #ffffff;
    font-size: 54px;
    font-weight: 400;
    line-height: 67px;
    font-family: "Berlingske Serif - D Bd";
    margin: 0 auto;
    margin-top: 233px;
    max-width: 877px;
    text-align: center;
    margin-bottom: 30px;
}

.hero__title--text {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.hero__title--btn {
    display: block;
    padding: 13px 0;
    background-color: #f84d4d;
    max-width: 340px;
    font-size: 16px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    transition: .25s;
}

.hero__title--btn:hover {
    color: #f84d4d;
    background: #ffffff;
}
span.weight {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-weight: 700;
}

.promotion {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin: 0 auto;
    padding-bottom: 175px;
}

.anchor{
    position: absolute;
    left: 50%;
    bottom: -42px;
    width: 84px;
    height: 84px;
    margin-left: -42px;
}

.anchor__link {
    width: 84px;
    height: 84px;
    background-color: #ffffff;
    box-shadow: 0 8px 27px rgba(142, 164, 184, 0.2);
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor__img {
    position: absolute;
}

/* ===//HERO=== */

/* section#2 dont_cry */

.dont_cry__title {
    display: flex;
    font-size: 38px;
    color: #333333;
    font-weight: 400;
    line-height: 48px;
    font-family: "Berlingske Serif - D Bd";
    max-width: 413px;
    text-align: center;
    margin: 0 auto;
    margin-top: 136px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card__services {
    margin-right: 130px;
    margin-top: 73px;
}

.card__services:last-child {
    margin-right: 0;
}

.card__img {
    border-style: none;
    display: block;
    margin: 0 auto;
} 

.card__text {
    max-width: 209px;
    text-align: center;
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 34px;
}

.dont_cry__btn {
    display: block;
    background: #f84d4d;
    padding: 13px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    max-width: 340px;
    margin: 0 auto;
    margin-top: 103px;
    margin-bottom: 185px;
    transition: .25s;
    text-align: center;
}

.dont_cry__btn:hover {
    color: #f84d4d;
    background: #faeded;

}

/* section#3 alcohol_license */

.alcohol_license {
    background-color: #f2f5f8;
    position: relative;
}

.alcohol_license__img1 {
    position: absolute;
    top: 83%;
    left: 62%;
    z-index: 1;

}

.alcohol_license__wrap {
    /* outline: 1px solid red; */
    height: 1072px;
    position: absolute;
    left: 75%;
    top: -143px;
    overflow: visible !important;
}

.alcohol_license__wrap::before {
    content: url("../img/line.png");
    position: absolute;
    left: -161px;
    margin-top: 731px;
}


.alcohol_license__title {
    max-width: 478px;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    color: #333333;
    font-family: "Berlingske Serif - D Bd";
    margin-top: 177px;
}

.alcohol_license__text {
    max-width: 684px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 36px;
    margin-bottom: 41px;
}

.alcohol_license__btn {
    display: inline-flex;
    max-width: 341px;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    background-color: #3a3a3a;
    padding: 13px 44px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    transition: .25s;
    text-align: center;
    margin-bottom: 156px;
}

.alcohol_license__btn:hover {
    color: #3a3a3a;
    background-color: #fff;
}

.promotion_action {
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    margin-left: 28px;
}

.alcohol_license__wrap {
    overflow: hidden;
    width: 300px;
}

/* ===//section#3 alcohol_license */

/* section#4 licensing_center */

.licensing_center {
    position: relative;
    min-height: 753px;
}

.licensing_center__img {
position: absolute;
z-index: -1;
left: 0;
bottom: 0;
}

.licensing_center__title {
    max-width: 493px;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    font-family: "Berlingske Serif - D Bd";
    margin-top: 27%;
    margin-right: 4%;
    margin-left: auto;
}

.licensing_center__text {
    display: flex;
    color: #7a7a7a;
    max-width: 546px;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-left: auto;

}

.licensing_center__text::before {
    display: block;
    content: url("../img/quotes.png");
    padding-right: 22px;
    
}
/* ===// section#4 licensing_center */

/* footer */

.getting_licensece {
    background-image: url("../img/Layer 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 122px;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 596px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.footer__title {
    color: #ffffff;
    font-family: "Berlingske Serif - D Bd";
    font-size: 54px;
    font-weight: 400;
    line-height: 67px;
    margin-top: 142px;
}

.footer__text {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.footer__btn {
    display: block;
    justify-content: center;
    background-color: #f84d4d;
    max-width: 340px;
    padding: 13px 0;
    margin: 0 auto;
    margin-top: 56px;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    transition: .25s;
    text-align: center;
}

.footer__btn:hover {
     color: #f84d4d;
     background: #ffffff;
} 
